In [2]:
bob = ['Bob Smith', 42, 30000, 'software']
sue = ['Sue Jones', 45, 40000, 'hardware']

In [3]:
bob[0], sue[2]

('Bob Smith', 40000)

In [4]:
bob[0].split()[-1]

'Smith'

In [6]:
sue[2]*=1.25
sue

['Sue Jones', 45, 62500.0, 'hardware']

In [7]:
people = [bob, sue]
for person in people:
    print(person)

['Bob Smith', 42, 30000, 'software']
['Sue Jones', 45, 62500.0, 'hardware']

In [8]:
people[1][0]

'Sue Jones'

In [9]:
for person in people:
    print(person[0].split()[-1])
    person[2] *= 1.2

Smith
Jones

In [10]:
for person in people: print(person[2])

36000.0
75000.0

In [11]:
pays = [person[2] for person in people]
pays

[36000.0, 75000.0]

In [12]:
pays = map((lambda x: x[2]), people)
list(pays)

[36000.0, 75000.0]

In [13]:
sum(person[2] for person in people)

111000.0

In [14]:
people.append(['Tom', 50, 0, None])
len(people)

3

In [15]:
people[-1][0]

'Tom'

In [16]:
NAME, AGE, PAY = range(3)
bob = ['Bob Smith', 42, 10000]
bob[NAME]

'Bob Smith'

In [18]:
PAY, bob[PAY]

(2, 10000)

In [21]:
bob = [['name', 'Bob Smith'], ['age', 42], ['pay', 10000]]
sue = [['name', 'Sue Jones'], ['age', 45], ['pay', 20000]]
people = [bob,sue]
for person in people:
    print(person[0][1], person[2][1])

Bob Smith 10000
Sue Jones 20000