In [1]:
bob = ['Bob Smith', 42, 30000, 'software']
sue = ['Sue Jones', 45, 40000, 'hardware']

In [2]:
bob[0], sue[2]

('Bob Smith', 40000)

In [3]:
bob[0].split()[-1]

'Smith'

In [4]:
sue[2]*=1.25
sue

['Sue Jones', 45, 50000.0, 'hardware']

In [5]:
people = [bob, sue]
for person in people:
    print(person)

['Bob Smith', 42, 30000, 'software']
['Sue Jones', 45, 50000.0, 'hardware']

In [6]:
people[1][0]

'Sue Jones'

In [7]:
for person in people:
    print(person[0].split()[-1])
    person[2] *= 1.2

Smith
Jones

In [8]:
for person in people: print(person[2])

36000.0
60000.0

In [9]:
pays = [person[2] for person in people]
pays

[36000.0, 60000.0]

In [10]:
pays = map((lambda x: x[2]), people)
list(pays)

[36000.0, 60000.0]

In [11]:
sum(person[2] for person in people)

96000.0

In [12]:
people.append(['Tom', 50, 0, None])
len(people)

3

In [13]:
people[-1][0]

'Tom'

In [14]:
NAME, AGE, PAY = range(3)
bob = ['Bob Smith', 42, 10000]
bob[NAME]

'Bob Smith'

In [15]:
PAY, bob[PAY]

(2, 10000)

In [16]:
bob = [['name', 'Bob Smith'], ['age', 42], ['pay', 10000]]
sue = [['name', 'Sue Jones'], ['age', 45], ['pay', 20000]]
people = [bob,sue]
for person in people:
    print(person[0][1], person[2][1])

Bob Smith 10000
Sue Jones 20000

In [17]:
[person[0][1] for person in people]

['Bob Smith', 'Sue Jones']

In [18]:
for person in people:
    print(person[0][1].split()[-1])
    person[2][1] *= 1.1

Smith
Jones

In [19]:
for person in people: print(person[2])

['pay', 11000.0]
['pay', 22000.0]

In [20]:
for person in people:
    for(name, value) in person:
        if name == 'name': print(value)

Bob Smith
Sue Jones

In [21]:
def field(record, label):
    for (fname, fvalue) in record:
        if fname == label:
            return fvalue
field(bob, 'name')

'Bob Smith'

In [22]:
field(sue, 'pay')

22000.0

In [23]:
for rec in people:
    print(field(rec, 'age'))

42
45

Using Dictionaries

In [24]:
bob = {'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}
sue = {'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [25]:
bob['name'], sue['pay']

('Bob Smith', 40000)

In [26]:
bob['name'].split()[-1]

'Smith'

In [27]:
sue['pay'] *= 1.1
sue['pay']

44000.0

Other Ways to Make Dictionaries

In [28]:
bob =  dict(name = 'Bob Smith', age = 42, pay = 30000, job = 'dev')
sue =  dict(name = 'Sue Jones', age = 45, pay = 40000, job = 'hdw')
bob, sue

({'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000},
 {'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 40000})

In [29]:
sue = {}
sue['name'] = 'Sue Jones'
sue['age'] = 45
sue['pay'] = 40000
sue['job'] = 'hdw'
sue

{'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 40000}

In [30]:
names = ['name', 'age', 'pay', 'job']
values = ['Sue Jones', 45, 40000, 'hdw']
list(zip(names, values))

[('name', 'Sue Jones'), ('age', 45), ('pay', 40000), ('job', 'hdw')]

In [31]:
sue = dict(zip(names, values))
sue

{'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 40000}

In [33]:
fields = ('name', 'age', 'job', 'pay')
record = dict.fromkeys(fields, '?')
record

{'age': '?', 'job': '?', 'name': '?', 'pay': '?'}

In [34]:
bob

{'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000}

In [35]:
sue

{'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 40000}

In [36]:
people = [bob, sue]
for person in people:
    print(person['name'], person['pay'], sep =', ')

Bob Smith, 30000
Sue Jones, 40000

In [37]:
for person in people:
    if person['name'] == 'Sue Jones':
        print(person['pay'])

40000

In [38]:
names =[person['name'] for person in people]
names

['Bob Smith', 'Sue Jones']

In [39]:
list(map((lambda x: x['name']), people))

['Bob Smith', 'Sue Jones']

In [40]:
sum(person['pay'] for person in people)

70000

In [41]:
[rec['name'] for rec in people if rec['age']>=45]

['Sue Jones']

In [42]:
[(rec['age'] ** 2 if rec['age'] >= 45 else rec['age']) for rec in people]

[42, 2025]

In [46]:
G = (rec['name'] for rec in people if rec['age']>=45)
next(G)

'Sue Jones'

In [53]:
G = ((rec['age'] ** 2 if rec['age'] >= 45 else rec['age']) for rec in people)
next(G)

42

In [55]:
for person in people:
    print(person['name'].split()[-1])
    person['pay'] *= 1.1

Smith
Jones

In [56]:
for person in people: print(person['pay'])

33000.0
44000.0

Nested Structures

In [57]:
bob2 = {'name': {'first': 'Bob', 'last': 'Smith'},
       'age': 42,
       'job': ['software', 'writing'],
       'pay': (40000, 50000)}

In [58]:
bob2['name']

{'first': 'Bob', 'last': 'Smith'}

In [59]:
bob2['name']['last']

'Smith'

In [60]:
bob2['pay'][1]

50000

In [61]:
for job in bob2['job']: print(job)

software
writing

In [62]:
bob2['job'][-1]

'writing'

In [63]:
bob2['job'].append('janitor')
bob2

{'age': 42,
 'job': ['software', 'writing', 'janitor'],
 'name': {'first': 'Bob', 'last': 'Smith'},
 'pay': (40000, 50000)}

In [64]:
bob = dict(name = 'Bob Smith', age= 42, pay = 30000, job = 'dev')
sue = dict(name = 'Sue Jones', age= 45, pay = 40000, job = 'hdw')
bob

{'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000}

In [66]:
db = {}
db['bob'] = bob
db['sue'] = sue

db['bob']['name']

'Bob Smith'

In [67]:
db['sue']['pay'] = 50000
db['sue']['pay']

50000

In [68]:
db

{'bob': {'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000},
 'sue': {'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 50000}}

In [69]:
import pprint
pprint.pprint(db)

{'bob': {'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000},
 'sue': {'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 50000}}

In [70]:
for key in db:
    print( key, '=>', db[key]['name'])

bob => Bob Smith
sue => Sue Jones

In [72]:
for key in db:
    print(key, '=>', db[key]['pay'])

bob => 30000
sue => 50000

In [73]:
for key in db:
    print(db[key]['name'].split()[-1])
    db[key]['pay'] *= 1.1

Smith
Jones

In [74]:
for record in db.values(): print(record['pay'])

33000.0
55000.00000000001

In [75]:
x = [db[key]['name'] for key in db]
x

['Bob Smith', 'Sue Jones']

In [82]:
x = [rec['name'] for rec in db.values()]
x

['Bob Smith', 'Sue Jones']

In [84]:
db['tom'] = dict(name = 'Tom', age = 50, job = None, pay = 0)
db['tom']

{'age': 50, 'job': None, 'name': 'Tom', 'pay': 0}

In [85]:
db['tom']['name']

'Tom'

In [86]:
list(db.keys())

['bob', 'sue', 'tom']

In [87]:
len(db)

3

In [88]:
[rec['age'] for rec in db.values()]

[42, 45, 50]

In [91]:
[rec['name'] for rec in db.values() if rec['age'] >= 45]

['Sue Jones', 'Tom']