In [1]:
bob = ['Bob Smith', 42, 30000, 'software']
sue = ['Sue Jones', 45, 40000, 'hardware']

In [2]:
bob[0], sue[2]

('Bob Smith', 40000)

In [3]:
bob[0].split()[-1]

'Smith'

In [4]:
sue[2]*=1.25
sue

['Sue Jones', 45, 50000.0, 'hardware']

In [5]:
people = [bob, sue]
for person in people:
    print(person)

['Bob Smith', 42, 30000, 'software']
['Sue Jones', 45, 50000.0, 'hardware']

In [6]:
people[1][0]

'Sue Jones'

In [7]:
for person in people:
    print(person[0].split()[-1])
    person[2] *= 1.2

Smith
Jones

In [8]:
for person in people: print(person[2])

36000.0
60000.0

In [9]:
pays = [person[2] for person in people]
pays

[36000.0, 60000.0]

In [10]:
pays = map((lambda x: x[2]), people)
list(pays)

[36000.0, 60000.0]

In [11]:
sum(person[2] for person in people)

96000.0

In [12]:
people.append(['Tom', 50, 0, None])
len(people)

3

In [13]:
people[-1][0]

'Tom'

In [14]:
NAME, AGE, PAY = range(3)
bob = ['Bob Smith', 42, 10000]
bob[NAME]

'Bob Smith'

In [15]:
PAY, bob[PAY]

(2, 10000)

In [16]:
bob = [['name', 'Bob Smith'], ['age', 42], ['pay', 10000]]
sue = [['name', 'Sue Jones'], ['age', 45], ['pay', 20000]]
people = [bob,sue]
for person in people:
    print(person[0][1], person[2][1])

Bob Smith 10000
Sue Jones 20000

In [17]:
[person[0][1] for person in people]

['Bob Smith', 'Sue Jones']

In [19]:
for person in people:
    print(person[0][1].split()[-1])
    person[2][1] *= 1.1

Smith
Jones

In [21]:
for person in people: print(person[2])

['pay', 12100.000000000002]
['pay', 24200.000000000004]

In [23]:
for person in people:
    for(name, value) in person:
        if name == 'name': print(value)

Bob Smith
Sue Jones

In [24]:
def field(record, label):
    for (fname, fvalue) in record:
        if fname == label:
            return fvalue
field(bob, 'name')

'Bob Smith'

In [25]:
field(sue, 'pay')

24200.000000000004

In [26]:
for rec in people:
    print(field(rec, 'age'))

42
45

Using Dictionaries

In [27]:
bob = {'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}
sue = {'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [28]:
bob['name'], sue['pay']

('Bob Smith', 40000)

In [29]:
bob['name'].split()[-1]

'Smith'

In [30]:
sue['pay'] *= 1.1
sue['pay']

44000.0

Other Ways to Make Dictionaries

In [32]:
bob =  dict(name = 'Bob Smith', age = 42, pay = 30000, job = 'dev')
sue =  dict(name = 'Sue Jones', age = 45, pay = 40000, job = 'hdw')
bob, sue

({'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'},
 {'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'})

In [34]:
sue = {}
sue['name'] = 'Sue Jones'
sue['age'] = 45
sue['pay'] = 40000
sue['job'] = 'hdw'
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}